<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
      var map;
      var marker;
      function initialize() {
      var mapOptions = {
      center: new google.maps.LatLng(42.000538, 21.428447),
      zoom: 20
      };
      map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      google.maps.event.addListener(map, 'click',
      function(event){
        placeMarker(event.latLng);
      });
      }
      function placeMarker(location) {
        if (marker) {
          marker.setPosition(location);
        } else {
          marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
      }
    </script>
  </head>
  <body onload="initialize()">
    <h1>Crime Map</h1>
    <p>A map of recent criminal activity in the Skopje area</p>
    <div id="map-canvas" style="width:80%; height:500px;"></div>
    <div id="newcrimeform">
      <h2>Submit new crime</h2>
      <form action="/submitcrime" method="POST">
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="treason">Treason</option>
          <option value="theft">Theft</option>
          <option value="oppression">Oppression</option>
        </select>
        <label for="date">Date</label>
        <input name="date" id="date" type="date">
        <label for="latitude">Latitude</label>
        <input name="latitude" id="latitude" type="text">
        <label for="longitude">Longitude</label>
        <input name="longitude" id="longitude" type="text">
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
